<div class="container aboutUs-Margin">
  <div class="d-flex justify-content-center">
    <h1>About Us</h1>
  </div>
  <div class="d-flex justify-content-center div-Margin">
    <h4>This website is created by:</h4>
  </div>
  <div class="row div-Margin">
    <div class="col-sm-3 mt-sm-2">
      <div class="card card-view">
        <div class="card-body">
          <h5 class="card-title">Christian Teguh Prasetya W.</h5>
          <p class="card-text">00000032062</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-sm-2">
      <div class="card card-view">
        <div class="card-body">
          <h5 class="card-title">Made Reihan</h5>
          <p class="card-text">00000044540</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-sm-2">
      <div class="card card-view">
        <div class="card-body">
          <h5 class="card-title">Vincentius Kevin</h5>
          <p class="card-text">00000043551</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mt-sm-2">
      <div class="card card-view">
        <div class="card-body">
          <h5 class="card-title">Ethan Billy Gunawan</h5>
          <p class="card-text">00000029127</p>
        </div>
      </div>
    </div>
  </div>
</div>
